<li>
  <a href=<%- 'https://www.sohu.com' + feed.url %>><img class="feedpic" src=<%- feed.images[0] %> alt=""  /></a>
  <div class="feedtext">
    <p class="feedtitle"><a href=<%- 'https://www.sohu.com' + feed.url %>><%= feed.title %></a></p>
    <p class="feedfooter"><span><%= feed.authorName %></span><span class="point">.</span><span><%= feed.publicTime %></span><span class="comment"><%= '评论' %></span></p>
  </div>
</li>